body {
    font-size: 175%;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body::after {
  content: '';
  display: block;
}

main {
	margin: auto;
	max-width: min(1200px, 90vw);
  min-height: 100vh;
  font-variant-numeric: oldstyle-nums;
  padding-bottom: 20px;
}

ul, ol {
    display: table;
    margin: 0 auto;
}

a { 
    color: #C8102E;
    text-decoration: none;
    font-variant-numeric: tabular-nums;
} /* UH red */

a:hover {
    color: #960C22;
}

header {
	background-color: #EEE;
	font-size: 150%;
	line-height: 1.3;
	text-align: center;
  top: 0;
}

nav {
	background-color: #EEE;
	text-align: center;
	top: 58px;
}

footer {
  display: flex;
  background-color: #EEE;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  bottom: 0;
  overflow: hidden;
  display: block;
  vertical-align: baseline;
}

h1 {
	text-align: center;
	font-size: 250%;
	font-weight: 350;
}

h2 {
	text-align: center;
	font-weight: 600;
}



@media (prefers-color-scheme: dark) {
	body { background-color: black; color: white; }
	header, nav, footer { background-color: #111 }
}
